
<% @speaks.each do |speak| %>
    	<% if speak.user == session[:current_user_id] then
    		@pull = "text-align: right;"
	else
		@pull = ""
	end %>

      	<p class="chathead" style="<%=@pull%>"><%= speak.user %><a class="chatstamp" style="<%=@pull%>">[<%=speak.created_at.getlocal.strftime('%Y-%m-%d %H:%M') %>]</a><a class="chatbod" style="<%=@pull%>"> <%= speak.content %></a></p>
<% end %>

